
.DS_Store
Thumbs.db


.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates


.vscode/*


bin/
obj/
out/


.project


*.build/
*.cache/
*.log


appsettings.Development.json


*.log


*.nupkg
*.snupkg
packages/
*.nuget/


project.lock.json
project.fragment.lock.json
artifacts/


TestResults/


.idea/
*.sln.iml
.idea_modules/


*.pfx
*.p12


publish/


*.env
.env


*.local.json


**/node_modules/
**/bower_components/
